PORT=3000
JWT_SECRET=cambia-este-secreto-en-produccion

DB_SERVER=localhost
DB_PORT=1433
DB_DATABASE=tu_base_de_datos
DB_USER=tu_usuario
DB_PASSWORD=tu_contraseña
DB_ENCRYPT=true
DB_TRUST_SERVER_CERTIFICATE=true
